<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Fruits App</title>
  </head>
  <body>
    <h1>Welcome to the Fruits app!</h1>
    <img
    class="fruit-pic1"
    src="https://cdn-icons-png.flaticon.com/128/5312/5312448.png"
    alt="happy fruit salad bowl"
    />
    <p>An app for collecting your favorite fruits.</p>
    <a href="/fruits" class="fruits-index-link">
        <div class="index-link-text">
            Browse Fruit
        </div>
        </a>
    <a href="/fruits/new">Add New Fruit</a>
  </body>
  <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>